<header class="bg-gray-900 md:flex md:justify-between md:items-center md:px-4 md:py-3">
    <div class="flex items-center justify-between px-4 py-3">
    <div class="flex items-center">
        <a class="block lg:mr-4" href="/">
            <img class="w-auto inline-block md:block h-10" src="/img/amber-wave-mark.svg" alt="Amber Wave Logo">
            <img class="w-auto ml-1 h-5 inline-block md:hidden" src="/img/amber-wave-text-white.svg" alt="Amber Wave">
        </a>
    </div>
    <div class="md:hidden" id="dropdown">
        <button onclick="navDropClickHandler()" type="button" class="block text-gray-300 hover:text-white focus:text-white focus:outline-none" id="dropdown-button">
            <svg class="h-6 w-6 fill-current dropdown-ico-0" viewBox="0 0 24 24">
                <path class="hidden" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" id="dropdown-img-open"/>
                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" id="dropdown-img-closed"/>
            </svg>
        </button>
    </div>
    </div>
    <div class="hidden md:block px-2 pt-2 pb-4 md:p-0" id="dropdown-list">
        <a href="/overview" class="<%= path === '/overview' ? 'active' : '' %> block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800">Overview</a>
        <a href="/demo" class="<%= path === '/demo' ? 'active' : '' %> mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 md:mt-0 md:ml-2">Demo</a>
        <a href="/about" class="<%= path === '/about' ? 'active' : '' %>mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 md:mt-0 md:ml-2">About</a>
    </div>
</header>

<script>
    // toggleDropdownNav = (idOfTheDiv) => {
    //     document.getElementById(idOfTheDiv).classList.toggle("hidden");

    //     document.getElementById('dropdown-img-open').classList.toggle("hidden");
    //     document.getElementById('dropdown-img-closed').classList.toggle("hidden");
    // }

    // // Close the dropdown menu if the user clicks outside of it
    // window.onclick = function(event) {
    //     if (!event.target.classList.contains('dropdown-ico-0')) {
    //         var openDropdown = document.getElementById("dropdown-list");
    //         if (!openDropdown.classList.contains('hidden')) {
    //             openDropdown.classList.add('hidden');
    //         }
    //     }
    // }
</script>