    <div class="container">
        <button id="getMessage">Get Message</button>
        <div>
            <p>Message: <span id="mess"></span></p>
        </div>
    </div>

    <hr>
    <div id="output"></div><br>
    <form id="sendMessage">
        <div>
            <textarea name="body" id="body" placeholder="body"></textarea>
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
    <div id="description"></div> 
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="/js/main.js"></script>
    <!-- <script src="/js/data.js"></script> -->
