    <div class="container m-auto py-4">
        <div class="">
            <div class="py-2">
                <h5 class="">Get Message from Rabbitmq Server</h5>
            </div>
            <div class="">
                <button id="getMsg" class="btn btn-dark">Get Message</button>
            </div>
        </div>
        <div class="py-4">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Node Type</th>
                    <th>Command</th>
                </tr>
                </thead>
                <tbody id="myTable">
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container">
        <form>
            <div>
                <label for="body" class="col-sm-2 col-form-label">Send Message</label>
            </div>
            <div>
                <textarea name="body" id="body" placeholder="body"></textarea>
            </div>
            <button type="submit" class="btn btn-dark" id="sendMsg">Submit</button>
        </form>
        <div>
            <span id='status'></span>
        </div>
        <script src="/js/main.js"></script>
    </div>
    <!-- <script src="/js/data.js"></script> -->
